################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UseCase1/.vs
/UseCase1/bin/Debug/net6.0
/UseCase1/obj
/UseCase1/packages
